<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yongyida.robot.hardware">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name="com.yongyida.robot.control.ControlApplication"
        >

        <service android:name="com.yongyida.robot.control.server.HardWareServerService">
            <intent-filter>
                <action android:name="com.yongyida.robot.HARDWARE"/>
            </intent-filter>
        </service>

        <receiver android:name="com.yongyida.robot.control.BootBroadcastReceiver">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>